.Rhistory
.ipynb_checkpoints/
.nbgrader.log
Proposal/.Rhistory
references/data-dictionaries/NationalNames.csv
src/data/__pycache__/
src/models/__pycache__/
src/features/__pycache__/
references/pretrained_embeddings.nosync
references/pretrained_embeddings
data/raw/2018 WES Qual Coded - Final Comments and Codes.xlsx
data/raw/WES 2007-2018 LONGITUDINAL DATA.sav
data/raw/WES2015_Final_Qual_Results.xlsx
data/processed
data/interim
