.Rhistory
.ipynb_checkpoints/
.nbgrader.log
Proposal/.Rhistory
/data
references/data-dictionaries/NationalNames.csv
src/data/__pycache__/
src/models/__pycache__/
src/features/__pycache__/
references/GoogleNews-vectors-negative300.bin
